@import 'tailwindcss';

@import 'tw-animate-css';

@custom-variant dark (&:where(.dark, .dark *));



@theme inline {

   --color-primary:#C7326A;
  --color-forground:#FFFFF0;
  --font-cinzel: var(--font-cinzel);
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: var(--font-poppins);
}


